.card-container {
    cursor: pointer;
    height: 500px;
    width: 500px;
    /* perspective: 1500px; */
    position: relative;
    margin: auto;
    transition: ease-in;
  }
  
  .card {
    height: 500px;
    width: 500px;
    position: absolute;
    border-bottom: 1px solid #959BA1;
    /* border-top: 1px solid #959BA1; */
    transform-style: preserve-3d;
    transition: all 0.4s ease-in-out;
  }
  
  .card:hover {
    transform: rotateY(180deg);
    /* transition: all 0.4s ease-in-out; */
  }
  
  .card .front {
    height: 500px;
    width: 500px;
    backface-visibility: hidden;
    position: absolute;
    overflow: hidden;
    text-align: center;
    background-color: white;
  }
  
  .card .back {
    height: 500px;
    width: 500px;
    text-align: center;
    transform: rotateY(180deg);
    /* background-color:#959BA1; */
  }
  
  .question{
    color: #959BA1;
    font-size: 2.0em;
    padding-top: 40%;
    font-family: 'Muli';
  }
  
  .answer{
    color: #007CC2;;
    font-size: 1.2em;
    padding-top: 20%;
    font-family: 'Muli';
  }
  
  .pin{
      color: rgba(200, 10, 10, 1);
      font-size: 2.3em;
      padding-top: 10%;
  }